.bookmarkPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.bookmarkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}