.bookmarkPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.bookmarkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clearBookmark{
    width: 200px;
    height: 78px;
    background: #e71106;
    box-shadow: (2px 4px 10px 2px) rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: white;
    font-weight: 600;
}

.emptyBookmark{
    color: rgb(158, 151, 151);
}